In [1]:
from __future__ import print_function
print("hello world")

hello world

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
data = pd.read_csv("A1_mosquito_data.csv")

In [4]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184